:root{
    flex-grow: 1;
}

.appBar{
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 45%, rgba(218,111,20,1) 100%);
}

.menuButton:hover{
    color: black;
    background-color: white;
    font-weight: bold;
}

.title{
    flex-grow: 1;
    color: white;
    text-decoration: none;
}
.options{
    color: white !important;
    font-weight: bold !important;
}

.options:hover{
    color: black;
    background-color: white;
    font-weight: bold;
}
.homeLink{
    text-decoration:none ;
    color: white;
    font-weight: bold;
}